$black__text__color: #1A1A1A;
$gray__text__color__a: #595959;
$gray__text__color__b: #858585;
$gray__text__color__c: #A3A3A3;
$gray__text__color__d: #73798C;
$pink__background__color: #fef1f2;
$white: #ffffff;
$green: #1CC578;